style "terminal_screen"
{
    text[NORMAL] = "#ffffff"
    base[NORMAL] = "#232323"

    TerminalScreen::background-darkness = 0.90
}

widget "*TerminalWindow.*.TerminalScreen*" style "terminal_screen"
